
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
header{
    display: flex;  
    justify-content: space-between;
    background-color: white;
       
}
header a button{
    font-family:italic;
    font-size: 2.4vw;   
    margin-bottom: 7vw;
    margin-left: 3vw;
    border: none;
    background:linear-gradient(90deg,#E7CF79 ,#C69D07 );
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2vw;
 
}
header a:hover{
    background:linear-gradient(90deg, #FFF3D9 ,#F9E5BB );
    border-radius: 4vw;
    
    
    
    
}

#logo, .logotipo img{  
    justify-content: space-between;
    width: 3em;
    height: 7vw;
    display: flex;
    
}
.iconos {
    margin-left: 6em;
    margin-top: 2vw; 
    width: 3vw;
    height: 3vw;  
}
#Login{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    
}

form{
background-color: #C7EEFF;
justify-content: center;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
border-radius: 10px;
}
.fondo{
    background-color:#FFF3D9 ;
    width: 10%;
}
.Formulario, .Letras{
    font-family: "Madimi One", sans-serif;
    font-size: 14px;
}
.Formulario input{
    display: block;
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(-border-color);
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
}
.Formulario h4{
    margin-top: 10px;
    margin: 20px;
}
